
<h2 style="text-align:center">WeAtHery wHeATheR</h2>

  <div align='center'>
<input [(ngModel)]='city' />

<button (click)='Clicked()'>Search</button>
</div>

<div class="weather-forecast" role="main" *ngIf='show'>
  <div class="location">{{location}}</div>
  <div class="date">{{date}}</div>
  <div class="desc">{{overCast}}</div>
  <div class="current">
    <div class="visual">
      <!-- <div class="icon cloudy"></div> -->
      <img [src]='imageUrl' />
      <div class="temp">{{temp}}</div>
      <div class="scale">&deg;C</div>
    </div>
    <div class="description">
      <div class="humidity">{{humidity}}</div>
      <div class="wind">{{wind}}</div>
    </div>
  </div>
</div>
<app-content *ngFor='let data of dataArr' [weatherReport]='data'></app-content>
<router-outlet></router-outlet>